@model IEnumerable<Bewander.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelLocations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelLocations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserProfileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserProfileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserProfileID })
        </td>
    </tr>
}

</table>
